{% extends "base.html" %}

{% block content %}

{% assets 'utils_css' %}
    <link rel="stylesheet" href="{{ ASSET_URL }}">
{% endassets %}
{% assets 'bp_css' %}
    <link rel="stylesheet" href="{{ ASSET_URL }}">
{% endassets %}
{% assets 'utils_js' %}
    <script src="{{ ASSET_URL }}"></script>
{% endassets %}
{% assets 'bp_js' %}
    <script src="{{ ASSET_URL }}"></script>
{% endassets %}

<div class="row">
    <div class="col-6 col-sm-2 ml-5 container-fluid">
        <h3>Settings</h3>
        <hr />
        <ul class="nav nav-pills nav-stacked flex-column">
            <li class="nav-link active"><a href="#">Edit Profile</a></li>
            <li><a class="nav-link" href="#">Options</a></li>
            <li><a class="nav-link" href="#">Privacy</a></li>
            <li><a class="nav-link" href="#">Themes</a></li>
        </ul>
    </div>
    <div class="col-6 col-md-9 container-fluid">
        <form action="" id="form" method="post">
            <div>
                {{ form.hidden_tag() }}

                <div class="form-group justify-content-center pt-4">
                    <label for="form.username.label">{{ form.username.label }}</label>
                    {{ form.username(size=32, class="form-control") }}
                    {% for error in form.username.errors %}
                    <p class="text-danger">{{ error }}</p>
                    {% endfor %}
                </div>

                <div class="form-group justify-content-center pt-4">
                    <label for="form.username.label">{{ form.about_me.label }}</label>
                    {{ form.about_me(size=32, cols=50, rows=4, class="form-control") }}
                    {% for error in form.about_me.errors %}
                    <p class="text-danger">{{ error }}</p>
                    {% endfor %}
                </div>


                <div class="form-group justify-content-center pt-4">
                    <div class="card" style="width: 300px; height: 340px">
                        <div class="card-body" id="InputArea">
                            <p class="card-text">Drag Area</p>
                            <canvas id="mycanvas" width="256" height="256"></canvas>
                        </div>
                    </div>

                    <div class="custom-file" style="width: 300px">
                        <input type="file" id="upload" value="Choose a file" class="custom-file-input">
                        <label class="custom-file-label" for="customFile" id="ChooseFileLabel">Choose file</label>
                    </div>

                    {{ form.my_avatar() }}

                </div>
                <br \>
                <hr \>
                <div class="container-fluid mt-3 mb-3">
                        <div class="form-check">
                                {{form.noavatar(class="form-check-input")}}
                                {{ form.noavatar.label }}
                        </div>

                </div>
                <hr \>
                <br \>
                <p>{{ form.submit(class="btn btn-primary") }}</p>
                <br \>
                <br \>
                <br \>
            </div>
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Crop image</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div id="upload-demo" style="height: 512px; padding-bottom: 50px;">
                            </div>
                            <a class="btn btn-primary mt-3" href="#" role="button" id="left">Rotate Left</a>
                            <a class="btn btn-primary mt-3" href="#" role="button" id="right">Rotate Right</a>
                            </div>
                        <div class="modal-footer">
                            <a class="btn btn-primary" href="#" role="button" id="saveImage">Save Image</a>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

{% endblock %}