{% extends "base.html" %}

{% block content %}

{% assets 'minigame_css' %}
      <link rel="stylesheet" href="{{ ASSET_URL }}">
{% endassets %}

    <div class="container">
        <h1 class="text-center mt-5">An unexpected error has occurred</h1>
        <p class="lead text-center">The administrator has been notified. Sorry for the inconvenience!</p>
        <p class="lead text-center"><a href="{{ url_for('main.index') }}">Back</a></p>
    </div>
    <div class="container mt-5 justify-content-center" id="demo">
        {% assets 'minigame_js' %}
            <script src="{{ ASSET_URL }}" type=module></script>
        {% endassets %}
    </div>

{% endblock %}