<div class="container">
    <div class="row">
        <div id="{{ post.id }} pa" class="upvotejs col-1">
            {% set getvote = current_user.getvote(post.id) %}
            <a class="upvote {% if getvote[0]==1 %}upvote-on{% endif %}"></a>
            <span class="count">{{ post.rating }}</span>
            <a class="downvote {% if getvote[0]==-1 %}downvote-on{% endif %}"></a>
            <a class="star {% if getvote[1]==1 %}star-on{% endif %}"></a>
        </div>
        <div class="col">
            <p class="lead mt-2">
                <span class="border border-white"><img src="{{ post.author.avatar(48) }}" width=48 height=48></span>

                <a href="{{ url_for('main.user', username=post.author.username) }}" class="pl-2">
                    {{ post.author.username }}
                </a>
                said {{ moment(post.timestamp).format('LLL') }}:
                <br>
            </p>
            <div class="container text-muted mt-4">
                {{ post.body }}
            </div>
        </div>
    </div>
    <br />
    <hr />
    <br />
    <script>
        var callback = function (data) {
            $.ajax({
                url: "{{ url_for('main.vote', post=post.id) }}",
                type: 'post',
                data: data
            });
        };

        Upvote.create("{{ post.id }} pa", { callback: callback });
    </script>
</div>