<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
    {{ moment.include_moment() }}
    {% if title %}
    <title>{{ title }} - Microblog</title>
    {% else %}
    <title>Welcome to Microblog!</title>
    {% endif %}
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:400,800">
    <link rel='stylesheet' href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light flex-wrap2 flex-md-nowrap">
        <div class="container-fluid">
            <a class="navbar-brand col-auto mr-0" href="#">
                <img src="{{ url_for('static', filename='images/logos/nav.png') }}" width="40" height="32"
                    class="d-inline-block align-top" alt="">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="{{ url_for('main.index') }}">Home </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('main.explore') }}">Explore</a>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            Info
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </li>
                    </li>
                    {% if current_user.is_anonymous %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('main.index') }}">Login</a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link"
                            href="{{ url_for('main.user', username=current_user.username) }}">Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('auth.logout') }}">Logout</a>
                    </li>
                    {% endif %}
                </ul>
                
                {% if g.search_form %}
                <form class="form-inline" align="right" action="{{ url_for('main.search') }}">
                    {{ g.search_form.q(size=20, class="form-control mr-sm-2", placeholder=g.search_form.q.label.text) }}
                    {{ g.search_form.submit(class="btn btn-outline-success my-2 my-sm-0", value="Search") }}
                </form>
                {% endif %}
                <a href="{{ url_for('main.user', username=current_user.username) }}"><span class="glyphicon glyphicon-bell"></span></a>

            </div>
        </div>
    </nav>

    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <div class="container pt-3">
        {% for category, message in messages %}
        {% if category=="message" %}
        <div class="alert alert-info" role="alert">
            {% else %}
            <div class="alert alert-{{ category }}" role="alert">
                {% endif %}
                {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {% endfor %}
        </div>
        {% endif %}
        {% endwith %}

        {% block content %}{% endblock %}
    </div>
</body>

</html>